
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }

        nav {
            background: #0b3c5d;
            padding: 15px;
            position: sticky;
            top: 0;
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }

        .first {
            background: url("https://www.easeindiatrip.com/blog/wp-content/uploads/2025/05/Ladkah-Expect-at-Pangong-Lake-03.jpg") no-repeat center/cover;
            height: 80vh;
            color: rgb(255, 255, 255);
            text-align: center;
            padding-top: 200px;
        }
        .first h1 {
            font-size: 48px;
        }
        .first p{
            font-size:20px ;
            color:white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        }
        .btn{
            color: rgb(3, 3, 3);
            padding-left: 20px;
            padding-right: 20px;
            font-size: medium;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: rgb(228, 162, 40);
        }
    

        section {
            padding: 50px;
        }
         .li{
        font-size: 20px;
        color: rgb(13, 13, 13);
        margin: 20px;
        display: inline block;
      }
        h2 {
            text-align: center;
            color: #0b3c5d;
        }

        .cards {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
        }
        .card {
            width: 250px;
            box-shadow: 0 0 10px #ccc;
            text-align: center;
            padding: 15px;
        }
        .card img {
            width: 100%;
            height: 150px;
        }
        .tips{
         
            padding: 20px;
            margin: 20px 0;
        }
        .h3{
            text-align: center;
            color: #0b3c5d;
        }
        .li{
        font-size: 20px;
        }

        form {
            max-width: 400px;
            margin: auto;
        }
        input, textarea {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
        }
        .join p{
        text-align: center;
        color: black;
        font-size: 40px;
        }
        .visit img{
            padding : 50px;
            border: 3px solid #0b86d8;
             height: 250px;
             display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 0px;
            padding-right: 0px;
            padding-left: 0px;
             width: 250px;
            box-shadow: 0 0 10px #ccc;
            text-align: center;
            padding: 15px;
        }
            
        
        .scroll-down {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 16px;
            color: white;
            text-decoration: none;
            background: rgba(0, 0, 0, 0.5);
            padding: 10px 20px;
            border-radius: 5px;
        }